<!doctype html>
<html>
<head>
	<title>All Profiles</title>
	{{template "head" .}}
</head>
<body>
<header>
<h1>All Profiles</h1>
{{template "nav" .}}
</header>

<article>
<div class="form-profile-create-title">New Profile</div>
<form class="form-profile-create" action="" method="POST">  <!-- XXX: WAI-ARIA role -->
	<div class="profile-name">
		<label class="profile-name-label" for="profile">Profile</label>
		<input class="profile-name-input" autofocus id="profile" name="profile" accesskey="p" tabindex="1" placeholder="pace-1.0.0" type="text"></input>
	</div>
	<input class="profile-submit" type="submit" value="submit"/>
	<div class="clear">&nbsp;</div>
</form>
</article>

<article>
<div class="profile-list-title">Existing Profiles</div>
<div class="profile-list">
{{range .Profiles}}
<div class="profile">
  <p><a class="profile-link" href="{{.Url.String}}">{{.Version.String}}</a></p>
</div>
{{else}}
<p class="profile-list-empty">No profiles.</p>
{{end}}
</div>
</article>
</body>
</html>
