@import url("reset.css");

body {
	font-family: "Helvetica", sans-serif;
	padding: 1em;
	max-width: 40pc;
}

h1 {
	font-size: 160%;
}

.form-list {
	margin: 1em;
}

.form-form-create-title, 
.form-list-title {
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 1em 0 0 0;
}

.form-form-create {
	margin: 1em;
	border: 1px solid black;
}


.form-name {
	margin: 1em 0 0 1em;
}

.form-form {
	margin: 1em 0 0 1em;
}

.form-submit {
	float: right;
	margin: 1em;
}

.clear {
    clear: both;
    height: 0;
}
