@import url("reset.css");

.question-version {
      display: none;
}
.answer-author {
      display: none;
}
.answer-creationtime {
      display: none;
}
.answer-title {
      display: none;
}
.answer-datum {
      display: none;
}

.questionset-link {
      margin: 1em 0 1em 0;
}

.form-question-edit {
      border: 1px solid black;
      margin: 1em;
      padding: 1em;
}

.question-name:before {
    content: "Question: ";
}

.form-question-edit-title {
    margin: 1em 0 0 0;
    display: inline-block;
    border-bottom: 1px solid black;
}

body {
    max-width: 40pc;
    padding:  1em;
    font-family: "Helvetica", sans-serif;
}
.question-name {
    font-size:  160%;
}

.question-text-label {
    width: 80%;
    display: inline-block;
}

textarea.question-text-input {
    margin: 1em 0 1em 0;
    width: 80%;
    display: inline-block;
}

label {
    width: 80%;
    display: inline-block;
    margin: 1em 0 0 0;
}

textarea {
    width: 80%;
    display: inline-block;
}

.question-submit {
    margin: 1em;
    float: right;
}

.question {
      border: 1px solid black;
      margin: 1em;
      padding: 1em;
}

.clear {
    clear: both;
    height: 0;
}
