@import url("reset.css");

body {
	font-family: "Helvetica", sans-serif;
	padding: 1em;
	max-width: 40pc;
}

h1 {
	font-size: 160%;
}

.record-list {
	margin: 1em;
}

.form-record-create-title, 
.record-list-title {
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 1em 0 0 0;
}

.form-record-create {
	margin: 1em;
	border: 1px solid black;
}


.record-name {
	margin: 1em 0 0 1em;
}

.record-form {
	margin: 1em 0 0 1em;
}

.record-submit {
	float: right;
	margin: 1em;
}

.clear {
    clear: both;
    height: 0;
}
