@import url("reset.css");

.question-version {
      display: none;
}
.answer-form-label {
      display: none;
}
.answer-author {
      display: none;
}
.answer-creationtime {
      display: none;
}
.question-help {
      display: none;
}
.answer-title {
      display: none;
}
.answer-datum {
      display: none;
}

.response {
      border: 1px solid black;
      margin: 1em;
      padding: 1em;
}

.overview-title, .response-group-title {
    border-bottom: 1px solid black;
    display:  inline-block;
    margin:  1em 0 0 0em;
}
.response-group-title {
    text-transform: capitalize;
}
.overview {
	padding: 1em;
}
.profile-name:after {
    content: "\")";
}
.profile-name:before {
    content: "(using profile: \"";
}
.profile-name {
    font-size:  120%;
}
.review-name:before {
    content: "Review: ";
}
body {
    max-width: 40pc;
    padding:  1em;
    font-family: "Helvetica", sans-serif;
}
.review-name {
    font-size:  160%;
}

textarea.answer-input {
    margin: 1em 0 1em 0;
    width: 80%;
    display: inline-block;
}

select.answer-input {
    width: 80%;
}

.answer-submit {
    margin: 1em;
    float: right;
}

.question-text {
    width: 80%;
}

.question-editlink:before {
    content: "(";
}
.question-editlink:after {
    content: ")";
}
.question-editlink {
    float: right;
    font-size: 80%;
}

.clear {
    clear: both;
    height: 0;
}
