<!doctype html>
<html>
<head>
	<title>Profile: {{.ProfileName}}</title>
	{{template "head" "profile"}}
</head>
<body>
<header>
<div class="profile-name">{{.ProfileName}}</div>
{{template "nav" .}}
</header>

<article>
<div class="form-question-create-title">New Question</div>
<form class="form-question-create" action="/questions/" method="POST">
	<div class="question-name">
		<label class="question-name-label" for="question-name">Question Name</label>
		<input class="question-name-input" autofocus id="question-name" name="question_name" type="text" list="question-name-list"></input>
		<datalist id="question-name-list">
			{{range .QuestionNames}}
				<option value="{{.}}"></option>
			{{end}}
		</datalist>
	</div>
	<input class="question-submit" value="submit" type="submit"></input>
	<div class="clear">&nbsp;</div>
</form>
</article>

<article>
<div class="overview-title">Questions (sorted alphabetically)</div>
<div class="overview">
<ol>
{{range .QuestionNames}}
<li><a href="#question-{{.}}">{{.}}</a></li>
{{else}}
<p>No questions.</p>
{{end}}
</ol>
</div>
</article>

<article>
<div class="profile">
{{range .QuestionGroups}}
<div class="question-group-title">{{.GroupKey}}</div>
<div class="question-group" id="question-group-{{.GroupKey}}">
	{{range .Questions}}
	{{template "edit_question" .}}
	{{end}}
{{else}}
<p>No questions.</p>
{{end}}
</div>
</article>
</body>
</html>
