<html>
<head>
	<title>List of Question Profiles</title>
	<link rel="stylesheet" type="text/css" href="/static/profile_set.css"></link>
</head>
<body>
<h1>List of Question Profiles</h1>

{{range .}}
<div class="profile">
	<p><a href="./{{.Version.String}}">{{.Version.String}}</a></p>
	{{range .Questions}}
	<div class="question">
		<p>Question: {{or .Version.String ""}}</p>
		<p>Text: {{or .Text ""}}</p>
	</div>
	{{else}}
	<p>No questions.</p>
	{{end}}
</div>
{{else}}
<p>No profiles.</p>
{{end}}
</body>
</html>
