<!doctype html>
<html>
<head>
	<title>All Questions </title>
	{{template "head" "question_set"}}
</head>
<body>
<header>
<h1>All Questions</h1>
{{template "nav" .}}
</header>

<article>
<div class="form-question-create-title">New Question</div>
<form class="form-question-create" action="/questions/" method="POST">
	<div class="question-name">
		<label class="question-name-label" for="question-name">Question Name</label>
		<input class="question-name-input" autofocus id="question-name" name="question_name" type="text"></input>
	</div>
	<input class="question-submit" value="submit" type="submit"></input>
	<div class="clear">&nbsp;</div>
</form>
</article>

<article>
<div class="question-list-title">Existing Questions</div>
<div class="question-list">
{{range .QuestionNames}}
<div class="question">
  <p><a class="question-link" href="./{{.}}">{{.}}</a></p>
</div>
{{else}}
<p class="question-list-empty">No questions.</p>
{{end}}
</div>
</article>
</body>
</html>
