<!doctype html>
<html>
<head>
	<title>Review: {{.ReviewName}}</title>
	{{template "head" "review"}}
</head>
<body>
<header>
<div class="review-name">{{.ReviewName}}</div>
<div class="profile-name">{{.ProfileName}}</div>
{{template "nav" .}}
</header>

<article>
<div class="overview-title">Questions (sorted alphabetically)</div>
<div class="overview">
<ol>
{{range .ResponseNames}}
<li><a href="#response-{{.}}">{{.}}</a></li>
{{else}}
<p>No responses.</p>
{{end}}
</ol>
</div>
</article>

<article>
<div class="review">
{{range .ResponseGroups}}
<div class="response-group-title">{{.GroupKey}}</div>
<div class="response-group" id="response-group-{{.GroupKey}}">
	{{range .ResponseList}}
	<div class="response" id="response-{{.Question.Version.String}}">
		<div class="question">
			{{with .Question}}
			<p class="question-version">{{or .Version.String ""}}</p>
			<p class="question-text">{{or .Text ""}}</p>
			<p class="question-help">{{or .Help ""}}</p>
			{{end}}
		</div>
		<div class="answer">
			{{with .Answer}}
			<p class="answer-title"></p>
			<p class="answer-author">{{or .Author "none"}}</p>
			<p class="answer-creationtime">{{or .CreationTime.String ""}}</p>
			<p class="answer-datum">{{or .Datum ""}}</p>
			{{else}}
			<p class="answer-empty">Answer: Not yet answered!</p>
			{{end}}
			<form class="answer-form" action="" method="POST">
				<label class="answer-form-label" for="{{.Question.Version.String}}">{{.Question.Version.String}}</label>
				{{.AnswerInput}}
				<input name="question_name" value="{{.Question.Version.String}}" type="hidden"></input>
				<input class="answer-submit" value="submit" type="submit"></input>
				<div class="clear">&nbsp;</div>
			</form>
		</div>
	</div>
	{{end}}
{{end}}
</div>
</article>
</body>
</html>
