<!doctype html>
<html>
<head>
	<title>All Reviews</title>
	{{template "head" .}}
</head>
<body>
<header>
<h1>All Reviews</h1>
{{template "nav" .}}
</header>

<article>
<div class="form-review-create-title">New Review</div>
<form class="form-review-create" action="" method="POST">  <!-- XXX: WAI-ARIA role -->
	<div class="review-name">
		<label class="review-name-label" for="review">Review</label>
		<input class="review-name-input" autofocus id="review" name="review" accesskey="r" tabindex="1" placeholder="acme-1.2.0" type="text"></input>
	</div>
	<div class="review-profile">
		<label for="review-profile-label">Profile</label>
		<select id="review-profile-select" class="profile-input" name="profile" accesskey="p" tabindex="2">
			{{range .Profiles}}
				<option class="profile-option" value="{{.Version.String}}" {{if .Selected}}selected {{end}}>{{.Version.String}}</option>
			{{end}}
		</select>
	</div>
	<input class="review-submit" type="submit" value="submit"/>
	<div class="clear">&nbsp;</div>
</form>
</article>

<article>
<div class="review-list-title">Existing Reviews</div>
<div class="review-list">
	{{range .Reviews}}
	<div class="review">
		<p><a class="review-link" href="{{.Url}}">{{.Version.String}}</a></p>
	</div>
	{{else}}
	<p class="review-list-empty">No reviews.</p>
	{{end}}
</div>
</article>
</body>
</html>
